/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSansBold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-red: #ff0000;
  --basic-blue: #81B3D2;
  --basic-white: #ffffff;
  --basic-brown: #766357;
  --basic-grey: #333333;

  --background-grey: #888888;
  --background-grey-features: #eeeeee;

  --basic-blue-dark: #669EC0;
  --basic-blue-extradark: #5496BD;

  --basic-brown-dark: #604E43;
  --basic-brown-extradark: #503E33;

  --special-grey: #666666;
  --link-white-03: rgba(255, 255, 255, 0.3);
  --background-rating: #F2F2F2;


}
/* Global */
body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-grey);
  text-transform: uppercase;
  background-color: var(--background-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Main container */
.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Main navigation */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* Main */
.container {
  height: auto;
  background-color: var(--basic-white);
}
/* Slogan area */
.slogan-area {
  text-align: center;
}
.slogan-area h2 {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.slogan-area p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
/* Features */
.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features li {
  text-align: center;
}
.features h3 {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
}
.features h4 {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}
.single-list-text p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
}
.features-row-1,
.features-row-3 {
  background-color: var(--basic-blue);
}
.features-row-4 {
  background-color: var(--background-grey-features);
}
.features-row-4 h3 {
  color: var(--basic-black);
}
/* Search area */
.search-area {
  background-color: var(--basic-white);
  text-align: center;
}
.search-area-slogan {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}
.search-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
}
.search-area a {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.search-area a:hover,
.search-area a:focus {
  color: var(--basic-white);
  background-color: var(--basic-brown-dark);
}
.search-area a:active {
  color: var(--basic-white);
  background-color: var(--basic-brown-extradark);

}
/* Main footer */
.page-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 0.9;

  min-height: 120px;
  padding: 0;
  margin: 0;
}
.footer-contacts a {
  color: var(--basic-black);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--basic-blue);
}
.footer-contacts a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.footer-tag-link,
.footer-phone-link {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
}
.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}
/* Social button */

.social-button {
  color: inherit;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue-dark);
}
.social-button:active {
  background-color: var(--basic-blue-extradark);
}

/* Inner page */
.container-inner-page {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* Sort area */
.hotels-list {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.sort-result {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
}
.sort-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.sort-text-list,
.sort-icons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sort-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.sort-item {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-blue);
}
.sort-item:hover,
.sort-item:focus {
  color: var(--basic-blue);
  opacity: 1.0;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-blue);
}
.sort-item:active {
  color: var(--basic-black);
  opacity: 1.0;
  border: none;
}
.sort-item-selected {
  color: var(--basic-blue);
  opacity: 1.0;
  border: none;
}
.sort-icons-list {
  margin: 0;
  padding: 0;
}
/* Hotels list */
.hotels-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hotel-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.hotel-title:hover,
.hotel-title:focus {
  color: var(--basic-blue);
}
.hotel-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.hotel-type,
.hotel-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
}
.button {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: inherit;
  background-color: var(--basic-blue);
  border: none;
  cursor: pointer;
}
.button-hotel-more {
  background-color: var(--basic-blue);
}
.button-hotel-more:hover,
.button-hotel-more:focus {
  background-color: var(--basic-blue-dark);
}
.button-hotel-more:active {
  background-color: var(--basic-blue-extradark);
  color: var(--link-white-03);
}
.button-hotel-order {
  background-color: var(--basic-brown);
}
.button-hotel-order:hover,
.button-hotel-order:focus {
  background-color: var(--basic-brown-dark);
}
.button-hotel-order:active {
  background-color: var(--basic-brown-extradark);
  color: var(--link-white-03);
}
.rating-digits {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--special-grey);
  background-color: var(--background-rating);
}
