/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSansBold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-red: #ff0000;
  --basic-blue: #81b3d2;
  --basic-white: #ffffff;
  --basic-brown: #766357;
  --basic-grey: #333333;

  --background-grey: #f2f2f2;
  --background-grey-features: #eeeeee;
  --form-field-grey: #ebebeb;

  --basic-blue-dark: #669ec0;
  --basic-blue-extradark: #5496bd;

  --basic-brown-dark: #604e43;
  --basic-brown-extradark: #503e33;

  --special-grey: #666666;
  --link-white-03: rgba(255, 255, 255, 0.3);
  --special-grey-line: #e5e5e5;
  --special-grey-copyright: #bdbbbc;
  --special-grey-bar: #ababab;
  --toggle-shadow: rgba(0, 0, 0, 0.25);
  --sort-arrow-grey: #cacaca;

  --search-form-shadow: rgba(0, 1, 1, 0.15);
  --main-page-shadow: rgba(0, 1, 1, 0.2);

}
/* Global */
.page {
  height: 100%;
}
body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-grey);
  text-transform: uppercase;
  background-color: var(--background-grey);
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Main container */
.main-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px var(--main-page-shadow);
}
/* надёжно спрятать */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Button */
.button {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: inherit;
  background-color: var(--basic-blue);
  border: none;
  outline: none;
  cursor: pointer;
}
/* Main navigation */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  position: relative;
  display: grid;
}
.main-header-logo {
  order: 1;
  justify-self: center;
  position: absolute;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 56px;
  display: grid;
  grid-template-columns: 73px 1fr 1fr 138px 1fr 1fr 73px;
}
.site-navigation li {
  align-self: center;
}
.site-navigation li:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-items: start;
}
.site-navigation li:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-items: start;
}
.site-navigation li:nth-child(3) {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  justify-self: end;
}
.site-navigation li:nth-child(4) {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  justify-self: end;
}
.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* Main */
.container {
  background-color: var(--basic-white);
}

.main-top-image {
  height: 509px;
  background-image:
    url(../img/topline-shape.svg),
    url(../img/background-top.jpg);
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    center bottom,
    center center;
  background-color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;

}
.main-top-image img {
  margin-bottom: 3px;
}
/* Slogan area */
.slogan-area {
  min-height: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slogan-area h2 {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  max-width: 435px;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}
.slogan-area p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-top: 44px;
  max-width: 490px;
}
/* Features */
.features-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  min-height: 256px;
}
.single-list-text-1 {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding: 0 45px;
}
.single-list-picture-1 {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  background-color: var(--basic-blue);
  background-image: url(../img/list-picture-1.jpg);
}
.features-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  min-height: 256px;

}
.single-list-text-2 {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  padding: 0 45px;
}
.single-list-picture-2 {
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  background-color: var(--basic-blue);
  background-image: url(../img/list-picture-2.jpg);
}
.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features li {
  text-align: center;
}
.features h3 {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0 auto;
  max-width: 151px;
}
.single-list-text-1 h3 {
  margin-top: 45px;
  margin-bottom: 25px;
}
.single-list-text-2 h3 {
  margin-top: 48px;
  margin-bottom: 25px;
}
.features h4 {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}
.single-list-text-1 p,
.single-list-text-2 p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
}
.single-list-text-1 p:first-of-type,
.single-list-text-2 p:first-of-type {
  margin-bottom: 25px;
}
.features-row-1,
.features-row-3 {
  background-color: var(--basic-blue);
}
.features-row-4 {
  background-color: var(--background-grey-features);
}
.features-row-4 h3 {
  color: var(--basic-black);
  margin: 0 auto;
  max-width: 150px;
}

.features-list-row-1,
.features-list-row-2 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--basic-white);
}
.features-list-row-1 {
  min-height: 330px;
}
ul.features-list-row-2 {
  min-height: 209px;
  padding-top: 47px;
  background-color: var(--background-grey-features);
  align-items: flex-start;
}
.features-list-row-1 li {
  width: 300px;
  min-height: 330px;
  text-align: center;
}
.features-list-row-2 li {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.features-list-row-2 h3 {
  margin-bottom: 10px;
}
.features-list-row-2 p:first-of-type {
  margin-bottom: 10px;
}
.features-list-row-2 p:last-of-type {
  max-width: 259px;

}
.features-list-row-1 li:first-child {
  background-image: url(../img/icon-list-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 23%;
}
.features-list-row-1 li:nth-child(2) {
  background-image: url(../img/icon-list-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 23%;
}
.features-list-row-1 li:last-child {
  background-image: url(../img/icon-list-3.svg);
  background-repeat: no-repeat;
  background-position: 50% 22%;
}
.features-list-row-1 h4 {
  margin-top: 160px;
  margin-bottom: 24px;
}

/* Search area */
.search-area {
  background-color: var(--basic-white);
  min-height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  position: relative;
  z-index: 5;
}
.search-area-slogan {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}
.search-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  text-align: center;
  max-width: 435px;
  margin: 0;
  padding: 0;
}
.search-button {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
a.search-button:hover,
a.search-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-brown-dark);
}
a.search-button:active {
  color: var(--link-white-03);
  background-color: var(--basic-brown-extradark);
}
/* Search Form */
.search-hotels-form {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  width: 458px;
  min-height: 285px;
  padding: 55px;
  position: absolute;
  top: 291px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  box-shadow: 0px 7px 15px var(--search-form-shadow);

  z-index: 3;
  display: block;
  //animation: bounce-open 0.6s;
}
.search-hotels-hide {
  z-index: -1;
  //top: -104px;
  //display: block;
  animation: bounce-close 0.6s;
  transform: translateY(-395px);
}
@keyframes bounce-open {
  0% {
    transform: translateY(-395px);
  }

  70% {
    transform: translateY(-200px);
  }

  90% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-close {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-50px);
  }

  60% {
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(-395px);
  }
}

.search-form-container {
  min-height: 283px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.form-date-start {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -25px;
}
.form-date-end {
  position: relative;
}
.form-date-start input,
.form-date-end input {
  width: 329px;
  height: 34px;
  border:  2px solid var(--background-grey);
  padding: 0;
  background-color: var(--background-grey);
  padding-left: 13px;
}
.form-date-start input::-webkit-input-placeholder,
.form-date-end input::-webkit-input-placeholder {
  color: var(--basic-black);
}
.form-date-start input::-moz-placeholder,
.form-date-start input:-moz-placeholder,
.form-date-end input::-moz-placeholder,
.form-date-end input:-moz-placeholder {
  color: var(--basic-black);
  opacity: 1;
}
.form-date-start input:hover,
.form-date-end input:hover {
   background-color: var(--form-field-grey);
   border:  2px solid var(--form-field-grey);
}
.form-date-start input:focus,
.form-date-end input:focus {
   background-color: var(--basic-white);
   border:  2px solid var(--special-grey-line);
   outline: none;
}
.form-date-end {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}
.button-calendar {
  position: absolute;
  right: 10px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.button-calendar-start:hover path,
.button-calendar-start:focus path,
.button-calendar-end:hover path,
.button-calendar-end:focus path {
  fill: var(--basic-black);
}
.button-calendar-start:active path,
.button-calendar-end:active path {
  fill: var(--basic-blue);
}
.form-peoples {
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-peoples-2 {
  width: 346px;
  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.form-peoples-1-container,
.form-peoples-2-container {
  width: 114px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--background-grey);
}
.form-peoples-2 label {
  margin-left: 25px;
}
.form-peoples-2 input {
  height: 38px;
  width: 38px;
  text-align: center;
  -moz-appearance: textfield;
  border: none;
  outline: none;
  padding: 0;
  background-color: var(--background-grey);
}
.form-peoples-2 input[type="number"]::-webkit-outer-spin-button,
.form-peoples-2 input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}
.button-peoples {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-grey);
}
.button-peoples:hover rect,
.button-peoples:focus rect,
.button-peoples:hover path,
.button-peoples:focus path {
  fill: var(--basic-black);
}
.button-peoples:active rect,
.button-peoples:active path {
  fill: var(--basic-blue);
  outline: none;
}
.search-form-button {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  height: 58px;
}
.search-form-button:hover,
.search-form-button:focus {
  background-color: var(--basic-blue-dark);
}
.search-form-button:active {
  background-color: var(--basic-blue-extradark);
  color: var(--link-white-03);
}
/* Map area */
.map-area img {
  display: block;

  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}
.map-area iframe {
  display: block;

  position: absolute;
  z-index: 2;

  border: none;
}
/* Main footer */
.page-footer {
  position: absolute;
  bottom: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 0.9;
  min-height: 120px;
  width: 1200px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 73px 1fr 400px 1fr 73px;
  z-index: 3;
}
.footer-contacts {
  grid-column: 2 / 3;
  align-self: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 120px
}
.footer-contacts a {
  color: var(--basic-black);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--basic-blue);
}
.footer-contacts a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.footer-tag-link,
.footer-phone-link,
.footer-contacts p {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
}
.footer-tag-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footer-contacts p {
  padding: 0;
  margin: 0;
}
.footer-social {
  grid-column: 3 / 4;
  align-self: center;
  text-align: center;
}
.footer-social ul {
  list-style: none;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-social li:last-child {
  margin-right: 0;
}
/* Social button */
.social-button {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  color: inherit;
  opacity: 1;
  background-color: var(--basic-blue);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue-dark);
  opacity: 1;
}
.social-button:active {
  background-color: var(--basic-blue-extradark);
}
.social-button:active svg {
  opacity: 0.3;
}
.footer-copyright {
  grid-column: 4 / 5;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.copyright-icon-link {
  margin-left: 8px;
}
.copyright-icon-link:hover path,
.copyright-icon-link:focus path{
  fill: var(--basic-blue);
}
.copyright-icon-link:active path{
  fill: var(--special-grey-copyright);
}
/* Inner page */
.container-inner-page {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* Filter */
.hotels-filter {
  min-height: 217px;
  background-image: url(../img/background-filter.jpg);
  background-repeat: repeat-y;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.inner-filter {
  min-height: 160px;
  padding: 25px 73px 32px 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.filter-infra,
.filter-realty,
.filter-price {
  border: none;
  margin: 0;
  padding: 0;
}
.filter-infra {
  width: 255px;
}
.filter-realty {
  flex-grow: 1;
}
.filter-price {
  width: 317px;
}
.filter-infra-title,
.filter-realty-title,
.filter-price-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
}
.inner-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font: inherit;
}
.filter-option {
  margin-bottom: 25px;
  padding-left: 35px;
}
li.filter-option:last-child {
  margin-bottom: 0;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 5px;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  left: -40px;
  top: -1px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
  display: none;
}
.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;

  left: -40px;
  top: -1px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  left: -40px;
  top: -1px;

  background-image: url("../img/checkbox-disabled-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled:checked + label::after {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;

  left: -40px;
  top: -1px;

  background-image: url("../img/checkbox-disabled-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled:checked + label::before {
  display: none;
}
.filter-infra-title,
.filter-realty-title {
  margin-bottom: 26px;
}
.filter-input-checkbox:focus + label {
  outline: 1px dotted var(--basic-black);

}
.price-area {
  margin: 0;
  padding: 0;
  border: none;
}
.filter-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 160px;
}
.price-controls {
  margin: 0;
  padding: 0;
  width: 313px;
  height: 32px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.min-price {
  width: 56px;
  text-align: right;
}
.max-price {
  width: 36px;
  text-align: right;
}

.min-price-container {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.max-price-container {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.price-controls input {
  width: 45px;
  border: none;
  outline: none;
  background: none;
  color: var(--basic-white);
  -moz-appearance: textfield;
  margin-left: 3px;
}
.price-controls input[type="number"]::-webkit-outer-spin-button,
.price-controls input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}
.separator-line {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}
.filter-price-title {
  margin-bottom: 12px;
}
.range-controls {
  position: relative;
  padding-top: 20px;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
}
.range-controls .scale {
  height: 2px;
  background: var(--special-grey-bar);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}
.range-controls .toggle {
  position: absolute;
  width: 19px;
  height: 21px;
  top: 12px;
  left: 140px;
  background-image: url("../img/toggle.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0px 4px 4px var(--toggle-shadow);
  cursor: pointer;
}
.range-controls .toggle:hover,
.range-controls .toggle:focus {
  transform: scale(1.21);
  outline: none;
}

.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.button-filter-hotels {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  outline: none;
  padding: 5px 33px 6px;
  vertical-align: middle;
  align-self: center;
  margin-right: 9px;
}
.button-filter-hotels:hover,
.button-filter-hotels:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
/* Sort area */
.sort-text-list,
.sort-icons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sort-bar {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 73px 163px 115px 1fr 163px 73px;
  grid-template-rows: 85px;
  align-items: center;
  border-bottom: 1px solid var(--special-grey-line);
}
.sort-result {
  grid-column: 2 / 3;
}
.sort-text-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column-gap: 32px;
}
.sort-text-list li {
  white-space: nowrap;
}
.sort-icons-list {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 12px;
  justify-content: right;
}
.hotels-list {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.sort-result {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
}
.sort-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.sort-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.sort-item {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-blue);
}
.sort-item:hover,
.sort-item:focus {
  color: var(--basic-blue);
  opacity: 1.0;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-blue);
}
.sort-item:active {
  color: var(--basic-black);
  opacity: 1.0;
  border: none;
}
.sort-item-selected {
  color: var(--basic-blue);
  opacity: 1.0;
  border: none;
}
.icon-up-dir path,
.icon-down-dir path {
  fill: var(--sort-arrow-grey);
}
.icon-up-dir:hover path,
.icon-down-dir:hover path,
.icon-up-dir:focus path,
.icon-down-dir:focus path {
  fill: var(--basic-black);
}
.icon-up-dir:active path,
.icon-down-dir:active path {
  fill: var(--basic-blue);
}
.icon-dir-selected path,
.icon-dir-selected path {
  fill: var(--basic-blue);
}
/* Hotels list */
.hotels-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hotel-item {
  display: grid;
  grid-template-columns: 73px 135px 29px 1fr 73px;
  grid-template-rows: 30px 1fr 30px;
  border-bottom: 1px solid var(--special-grey-line);
}
.hotel-item img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  object-fit: contain;
}
.hotel-description {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 110px 142px 1fr 110px;
  grid-template-rows: auto 30px 27px;
  grid-column-gap: 6px;
}
.hotel-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.hotel-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0;
}
.button-hotel-more {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.hotel-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0;
}
.button-hotel-order {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.rating-stars {
  grid-column: -1 / -2;
  grid-row: 1 / 2;
  margin: 0;
  padding: 0;
}
.rating-digits {
  grid-column: -1 / -2;
  grid-row: 3 / 4;
  margin: 0;
  padding: 0;
  align-self: center;
  text-align: center;
  height: 27px;
}
.hotel-title h3 {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-top: -7px;
}
.hotel-title h3:hover,
.hotel-title h3:focus {
  color: var(--basic-blue);
}
.hotel-title h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.hotel-type,
.hotel-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
  margin-top: -6px;
}
.button-hotel-more {
  background-color: var(--basic-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-hotel-more:hover,
.button-hotel-more:focus {
  background-color: var(--basic-blue-dark);
}
.button-hotel-more:active {
  background-color: var(--basic-blue-extradark);
  color: var(--link-white-03);
}
.button-hotel-order {
  background-color: var(--basic-brown);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-hotel-order:hover,
.button-hotel-order:focus {
  background-color: var(--basic-brown-dark);
}
.button-hotel-order:active {
  background-color: var(--basic-brown-extradark);
  color: var(--link-white-03);
}
.rating-digits {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--special-grey);
  background-color: var(--background-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-stars {
  display: flex;
  flex-direction: row-reverse;
}
.star-item {
  width: 19px;
  height: 17px;
  background-image: url(../img/star.svg);
  display: block;
  margin-left: 4px;
}
.inner-page-footer {
  position: static;
}
